//--------------------------------------------------------------------------------//
//-------------------------------------- Header-----------------------------------//
//--------------------------------------------------------------------------------//

.header-app {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .connecter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 50px;
    .vendre {
      border: 1px solid #0ab1ba;
      height: 70%;
      width: 150px;
      border-radius: 3px;
      color: white;
      background-color: #0ab1ba;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .incription {
      border: 1px solid #0ab1ba;
      height: 70%;
      width: 100px;
      border-radius: 3px;
      color: #0ab1ba;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .connexion {
      border: 1px solid #0ab1ba;
      height: 70%;
      width: 120px;
      border-radius: 3px;
      color: #0ab1ba;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .searchbar {
    height: 50%;
    width: 30%;
    border: 1px solid #0ab1ba;
    border-radius: 5px;
    color: #0ab1ba;
  }

  .logo {
    height: 70%;
    width: 10%;
    object-fit: contain;
  }
  .logo img {
    height: 90%;
    width: 100%;
  }
}

//--------------------------------------------------------------------------------//
//-------------------------------------- Main photo-------------------------------//
//--------------------------------------------------------------------------------//

.photo-presentation {
  width: 92.5%;
  height: 450px;
  margin: auto;
  object-fit: fill;
  position: relative;
  img {
    height: 100%;
    width: 100%;
  }
  .tri {
    position: absolute;
    z-index: 2;
    height: 300px;
    width: 350px;
    top: 30px;
    left: 40px;
    background-color: white;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 39px;
    padding-right: 30px;
    span {
      font-size: 34px;
      line-height: 42.5px;
      margin-right: 55px;
    }
    .blocvendre {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .vendre {
        margin-top: 15px;
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        background-color: #0ab1ba;
        border: none;
        border-radius: 2px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a {
        text-decoration: none;
        color: #0ab1ba;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

//--------------------------------------------------------------------------------//
//-------------------------------------- Offers ---------------------------------//
//--------------------------------------------------------------------------------//

.description-offers {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  margin: auto;

  .products {
    margin: 10px auto;
    width: 208px;
    border-radius: 5px;
    height: 320px;

    .avatar {
      height: 40px;
      display: flex;
      align-items: center;
      .photoprofile {
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
        width: 30px;
        border: 1px solid #0ab1ba;
        img {
          object-fit: contain;
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }
      .name {
        width: auto;
      }
    }

    .produitachat {
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 5px;
      padding-top: 5px;
    }
    .photo {
      width: 100%;
      height: 60%;

      .photo-produit {
        height: 100%;
        object-fit: fill;
        width: 100%;
      }
    }
  }
}

//--------------------------------------------------------------------------------//
//-------------------------------------- page description-offre ---------------------------------//
//--------------------------------------------------------------------------------//

.description-offre {
  background-color: #ebedee;
  height: 550px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .photoproduit {
    margin-top: 10px;
    top: 50px;
    width: 350px;
    height: 550px;
    left: 40px;
    img {
      width: 350px;
      height: 550px;
      object-fit: fill;
      border-radius: 5px;
    }
  }

  .descriptionoffre {
    top: 50px;
    width: 400px;
    height: 550px;
    right: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    .prix {
      height: 30px;

      width: auto;
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 25px;
    }
    .produitsdetails {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-bottom: 1px solid #ebedee;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
    .produitsdetails {
      line-height: 20px;
      text-align: justify;
      color: #717171;
    }
    .profile {
      margin-top: 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: auto;
      .photoprofile {
        height: 30px;
        border-radius: 50%;
        width: 30px;
        margin-right: 30px;
        img {
          object-fit: fill;
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }
    }
    .acheter {
      height: 40px;
      width: 300px;
      margin: auto;
      margin-top: 25px;
      text-align: center;
      background-color: #0ab1ba;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.offer-footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//--------------------------------------------------------------------------------//
//----------------------- Formulaire Login et signUP------------------------------//
//--------------------------------------------------------------------------------//

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  h1 {
    font-size: 35px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #0ab1ba;
  }
  .form {
    width: 250px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    border-bottom: 1px solid rgb(200, 66, 66);
    margin-bottom: 20px;
  }

  .boutton {
    width: 250px;
    height: 40px;
    color: white;
    background-color: #0ab1ba;
    border: none;
    border: none;
    border: none;
    border-radius: 2px;
    margin-bottom: 20px;
  }
  .text {
    width: 250px;
    text-overflow: clip;
    text-align: justify;
    margin-bottom: 20px;
    margin: 20px;
    .newsletter {
      font-size: 15px;
      color: black;
      font-size: 600;
    }
    .condition-utilisation {
      font-size: 10px;
      color: gray;
      margin-top: 10px;
    }
  }
}

//--------------------------------------------------------------------------------//
//-------------------------------------- Offre(s) ---------------------------------//
//--------------------------------------------------------------------------------//

.formulaire {
  width: 100%;
  padding-top: 5px;
  height: 800px;
  background-color: #ebedee;

  .bloc-photo {
    height: 300px;
    width: 80%;
    border-radius: 3px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    color: grey;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      margin: 50px;
      border-color: #0ab1ba;
    }
  }

  .bloc-offre {
    width: 80%;
    height: auto;
    border-radius: 3px;
    margin: auto;
    margin-top: 20px;
    height: auto;
    color: grey;
    background-color: white;

    .bloc-description {
      display: flex;
      font-size: 15px;
      padding-left: 15px;
      border-bottom: 1px solid #ebedee;
      align-items: center;
      height: auto;
      justify-content: space-between;
      background-color: white;
      input {
        width: 50%;
        border: none;
        background-color: white;
        border-bottom: 1px solid #ebedee;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
  .bloc-submit {
    width: 80%;
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
    margin: auto;
    input {
      height: 35px;
      width: 100px;
      margin-top: 10px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      border: none;
      background-color: #0ab1ba;
      color: white;
    }
  }
}
